.list {
    text-align: center;
}

.list select {
    background-color: rgba(171, 183, 183, 0.1);
    border: 1px solid rgba(171, 183, 183, 0.5);
    color: rgb(63, 63, 56);
    border-radius: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0;
    width: 80%;
    font-family: cursive;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

.list label {
    display: block;
}

.list select::-ms-expand {
    display: none;
}